**Unsupervised Learning: Random Cut Forest**

**Objective:** Anomaly Detection

In [2]:
# Importing the require libraries 

import pandas as pd                               
import boto3
import sagemaker
import s3fs
from sklearn.model_selection import train_test_split
import json
import nltk
import csv
from time import sleep

Data Setup

In [1]:
data_bucket = "just-abdul-aws" #Defining bucket name
subfolder = "Random_CF"
dataset = "activities.csv"

In [3]:
role = sagemaker.get_execution_role()
sess = sagemaker.Session()
s3 = s3fs.S3FileSystem(anon=False)
sm = boto3.Session().client('sagemaker')

In [4]:
df = pd.read_csv(f's3://{data_bucket}/{subfolder}/{dataset}')

Understanding the data

In [5]:
df.head()

,Matter Number,Firm Name,Matter Type,Resource,Activity,Minutes,Fee,Total,Error
0,0,Cox Group,Antitrust,Paralegal,Prepare Opinion,85,70,99.17,False
1,0,Cox Group,Antitrust,Junior,Prepare Opinion,505,150,1262.50,False
2,0,Cox Group,Antitrust,Junior,Prepare Opinion,100,180,300.00,False
3,0,Cox Group,Antitrust,Senior,Prepare Opinion,65,400,433.33,False
4,0,Cox Group,Antitrust,Junior,Phone Call,20,180,60.00,False

In [6]:
df.shape

(105965, 9)

In [7]:
Error = df.Error.value_counts()
pd.DataFrame(Error)

        Error
False  103935
True     2030

In [11]:
Firm_name = df['Firm Name'].unique()
pd.DataFrame(Firm_name)

                              0
0                     Cox Group
1         Day, Love and Beasley
2                  Taylor-Brown
3      Peters, Nelson and Moyer
4   Russell, Bradley and Howell
5                 Knight-Flores
6     Jackson, Pollard and Levy
7     Parks, Roberson and Short
8       Solis, Adams and Cooper
9                  Mejia-Flores
10  Flynn, Edwards and Valencia
11               Molina-Johnson
12               Walters-Taylor
13      White, Hester and Pitts
14                    Russo Ltd
15                 Miller-Lopez
16     Davis, Mason and Ramirez
17                   Davila Ltd
18                  Sims-Duarte
19     Walker, Turner and Brown

In [13]:
Resource = df['Resource'].unique()
pd.DataFrame(Resource)

           0
0  Paralegal
1     Junior
2     Senior
3    Partner

In [14]:
Activity = df['Activity'].unique()
pd.DataFrame(Activity)

                 0
0  Prepare Opinion
1       Phone Call
2     Attend Court
3   Attend Meeting

In [15]:
data = df.drop(['Matter Number', 'Firm Name'], axis=1)

In [16]:
# Handling Categorical data types

encoded_df = pd.get_dummies(data, columns=['Matter Type','Resource','Activity']) 
encoded_df.head()

,Minutes,Fee,Total,Error,Matter Type_Antitrust,Matter Type_Asset recovery,Matter Type_Commercial arbitration,Matter Type_IPO,Matter Type_Insolvency,Matter Type_M&A,...,Matter Type_Structured finance,Matter Type_Tax planning,Resource_Junior,Resource_Paralegal,Resource_Partner,Resource_Senior,Activity_Attend Court,Activity_Attend Meeting,Activity_Phone Call,Activity_Prepare Opinion
0,85,70,99.17,False,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,505,150,1262.50,False,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,100,180,300.00,False,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [17]:
X = encoded_df
Y = encoded_df['Error']

In [18]:
# Creating the training and the validation set

train_df, val_df, _, _ = train_test_split(X, Y, test_size=0.2, random_state=0)

In [30]:
train_df_no_result = train_df.drop(['Error'], axis=1)
val_df_no_result = val_df.drop(['Error'], axis=1)

In [31]:
# Training The Model 

from sagemaker import RandomCutForest

session = sagemaker.Session()

RCF = RandomCutForest(role=role,
                      instance_count=1,
                      instance_type='ml.m4.xlarge',
                      data_location=f's3://{data_bucket}/{subfolder}/',
                      output_path=f's3://{data_bucket}/{subfolder}/output',
                      num_samples_per_tree=100,
                      num_trees=50)

# automatically upload the training data to S3 and run the training job
RCF.fit(RCF.record_set(train_df_no_result.values))

train_instance_count has been renamed in sagemaker>=2.
See: https://sagemaker.readthedocs.io/en/stable/v2.html for details.
train_instance_type has been renamed in sagemaker>=2.
See: https://sagemaker.readthedocs.io/en/stable/v2.html for details.
Defaulting to the only supported framework/algorithm version: 1. Ignoring framework/algorithm version: 1.
Defaulting to the only supported framework/algorithm version: 1. Ignoring framework/algorithm version: 1.

2021-06-28 02:18:19 Starting - Starting the training job...
2021-06-28 02:18:42 Starting - Launching requested ML instancesProfilerReport-1624846698: InProgress
......
2021-06-28 02:19:42 Starting - Preparing the instances for training......
2021-06-28 02:20:50 Downloading - Downloading input data...
2021-06-28 02:21:03 Training - Downloading the training image......
2021-06-28 02:22:18 Uploading - Uploading generated training modelDocker entrypoint called with argument(s): train
Running default environment configuration script
[06/28/2021 02:22:11 INFO 139943321941824] Reading default configuration from /opt/amazon/lib/python3.7/site-packages/algorithm/resources/default-conf.json: {'num_samples_per_tree': 256, 'num_trees': 100, 'force_dense': 'true', 'eval_metrics': ['accuracy', 'precision_recall_fscore'], 'epochs': 1, 'mini_batch_size': 1000, '_log_level': 'info', '_kvstore': 'dist_async', '_num_kv_servers': 'auto', '_num_gpus': 'auto', '_tuning_objective_metric': '', '_ftp_port': 8999}
[06/28/2021 02:22:11 INFO 139943321941824] Merging with provided configuration from /opt/ml/input/config/hyperparameters.json: {'num_trees': '50', 'num_samples_per_tree': '100', 'feature_dim': '21', 'mini_batch_size': '1000'}
[06/28/2021 02:22:11 INFO 139943321941824] Final configuration: {'num_samples_per_tree': '100', 'num_trees': '50', 'force_dense': 'true', 'eval_metrics': ['accuracy', 'precision_recall_fscore'], 'epochs': 1, 'mini_batch_size': '1000', '_log_level': 'info', '_kvstore': 'dist_async', '_num_kv_servers': 'auto', '_num_gpus': 'auto', '_tuning_objective_metric': '', '_ftp_port': 8999, 'feature_dim': '21'}
[06/28/2021 02:22:11 WARNING 139943321941824] Loggers have already been setup.
[06/28/2021 02:22:11 INFO 139943321941824] Launching parameter server for role scheduler
[06/28/2021 02:22:11 INFO 139943321941824] {'ENVROOT': '/opt/amazon', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'HOSTNAME': 'ip-10-0-87-20.us-east-2.compute.internal', 'TRAINING_JOB_NAME': 'randomcutforest-2021-06-28-02-18-18-905', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-2:077107849065:training-job/randomcutforest-2021-06-28-02-18-18-905', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/2124ec4c-ba0d-4b70-8877-5ed2ff0cc8a4', 'CANONICAL_ENVROOT': '/opt/amazon', 'PYTHONUNBUFFERED': 'TRUE', 'NVIDIA_VISIBLE_DEVICES': 'void', 'LD_LIBRARY_PATH': '/opt/amazon/lib/python3.7/site-packages/cv2/../../../../lib:/usr/local/nvidia/lib64:/opt/amazon/lib', 'MXNET_KVSTORE_BIGARRAY_BOUND': '400000000', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PWD': '/', 'LANG': 'en_US.utf8', 'AWS_REGION': 'us-east-2', 'SAGEMAKER_METRICS_DIRECTORY': '/opt/ml/output/metrics/sagemaker', 'HOME': '/root', 'SHLVL': '1', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'OMP_NUM_THREADS': '2', 'DMLC_INTERFACE': 'eth0', 'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/625f3679-7356-4857-9765-b33f0c63e6f2', 'ECS_CONTAINER_METADATA_URI_V4': 'http://169.254.170.2/v4/625f3679-7356-4857-9765-b33f0c63e6f2', 'SAGEMAKER_HTTP_PORT': '8080', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'KMP_DUPLICATE_LIB_OK': 'True', 'KMP_INIT_AT_FORK': 'FALSE'}
[06/28/2021 02:22:11 INFO 139943321941824] envs={'ENVROOT': '/opt/amazon', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'HOSTNAME': 'ip-10-0-87-20.us-east-2.compute.internal', 'TRAINING_JOB_NAME': 'randomcutforest-2021-06-28-02-18-18-905', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-2:077107849065:training-job/randomcutforest-2021-06-28-02-18-18-905', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/2124ec4c-ba0d-4b70-8877-5ed2ff0cc8a4', 'CANONICAL_ENVROOT': '/opt/amazon', 'PYTHONUNBUFFERED': 'TRUE', 'NVIDIA_VISIBLE_DEVICES': 'void', 'LD_LIBRARY_PATH': '/opt/amazon/lib/python3.7/site-packages/cv2/../../../../lib:/usr/local/nvidia/lib64:/opt/amazon/lib', 'MXNET_KVSTORE_BIGARRAY_BOUND': '400000000', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PWD': '/', 'LANG': 'en_US.utf8', 'AWS_REGION': 'us-east-2', 'SAGEMAKER_METRICS_DIRECTORY': '/opt/ml/output/metrics/sagemaker', 'HOME': '/root', 'SHLVL': '1', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'OMP_NUM_THREADS': '2', 'DMLC_INTERFACE': 'eth0', 'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/625f3679-7356-4857-9765-b33f0c63e6f2', 'ECS_CONTAINER_METADATA_URI_V4': 'http://169.254.170.2/v4/625f3679-7356-4857-9765-b33f0c63e6f2', 'SAGEMAKER_HTTP_PORT': '8080', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'KMP_DUPLICATE_LIB_OK': 'True', 'KMP_INIT_AT_FORK': 'FALSE', 'DMLC_ROLE': 'scheduler', 'DMLC_PS_ROOT_URI': '10.0.87.20', 'DMLC_PS_ROOT_PORT': '9000', 'DMLC_NUM_SERVER': '1', 'DMLC_NUM_WORKER': '1'}
[06/28/2021 02:22:11 INFO 139943321941824] Launching parameter server for role server
[06/28/2021 02:22:11 INFO 139943321941824] {'ENVROOT': '/opt/amazon', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'HOSTNAME': 'ip-10-0-87-20.us-east-2.compute.internal', 'TRAINING_JOB_NAME': 'randomcutforest-2021-06-28-02-18-18-905', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-2:077107849065:training-job/randomcutforest-2021-06-28-02-18-18-905', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/2124ec4c-ba0d-4b70-8877-5ed2ff0cc8a4', 'CANONICAL_ENVROOT': '/opt/amazon', 'PYTHONUNBUFFERED': 'TRUE', 'NVIDIA_VISIBLE_DEVICES': 'void', 'LD_LIBRARY_PATH': '/opt/amazon/lib/python3.7/site-packages/cv2/../../../../lib:/usr/local/nvidia/lib64:/opt/amazon/lib', 'MXNET_KVSTORE_BIGARRAY_BOUND': '400000000', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PWD': '/', 'LANG': 'en_US.utf8', 'AWS_REGION': 'us-east-2', 'SAGEMAKER_METRICS_DIRECTORY': '/opt/ml/output/metrics/sagemaker', 'HOME': '/root', 'SHLVL': '1', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'OMP_NUM_THREADS': '2', 'DMLC_INTERFACE': 'eth0', 'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/625f3679-7356-4857-9765-b33f0c63e6f2', 'ECS_CONTAINER_METADATA_URI_V4': 'http://169.254.170.2/v4/625f3679-7356-4857-9765-b33f0c63e6f2', 'SAGEMAKER_HTTP_PORT': '8080', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'KMP_DUPLICATE_LIB_OK': 'True', 'KMP_INIT_AT_FORK': 'FALSE'}
[06/28/2021 02:22:11 INFO 139943321941824] envs={'ENVROOT': '/opt/amazon', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'HOSTNAME': 'ip-10-0-87-20.us-east-2.compute.internal', 'TRAINING_JOB_NAME': 'randomcutforest-2021-06-28-02-18-18-905', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-2:077107849065:training-job/randomcutforest-2021-06-28-02-18-18-905', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/2124ec4c-ba0d-4b70-8877-5ed2ff0cc8a4', 'CANONICAL_ENVROOT': '/opt/amazon', 'PYTHONUNBUFFERED': 'TRUE', 'NVIDIA_VISIBLE_DEVICES': 'void', 'LD_LIBRARY_PATH': '/opt/amazon/lib/python3.7/site-packages/cv2/../../../../lib:/usr/local/nvidia/lib64:/opt/amazon/lib', 'MXNET_KVSTORE_BIGARRAY_BOUND': '400000000', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PWD': '/', 'LANG': 'en_US.utf8', 'AWS_REGION': 'us-east-2', 'SAGEMAKER_METRICS_DIRECTORY': '/opt/ml/output/metrics/sagemaker', 'HOME': '/root', 'SHLVL': '1', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'OMP_NUM_THREADS': '2', 'DMLC_INTERFACE': 'eth0', 'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/625f3679-7356-4857-9765-b33f0c63e6f2', 'ECS_CONTAINER_METADATA_URI_V4': 'http://169.254.170.2/v4/625f3679-7356-4857-9765-b33f0c63e6f2', 'SAGEMAKER_HTTP_PORT': '8080', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'KMP_DUPLICATE_LIB_OK': 'True', 'KMP_INIT_AT_FORK': 'FALSE', 'DMLC_ROLE': 'server', 'DMLC_PS_ROOT_URI': '10.0.87.20', 'DMLC_PS_ROOT_PORT': '9000', 'DMLC_NUM_SERVER': '1', 'DMLC_NUM_WORKER': '1'}
[06/28/2021 02:22:11 INFO 139943321941824] Environment: {'ENVROOT': '/opt/amazon', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION': 'cpp', 'HOSTNAME': 'ip-10-0-87-20.us-east-2.compute.internal', 'TRAINING_JOB_NAME': 'randomcutforest-2021-06-28-02-18-18-905', 'NVIDIA_REQUIRE_CUDA': 'cuda>=9.0', 'TRAINING_JOB_ARN': 'arn:aws:sagemaker:us-east-2:077107849065:training-job/randomcutforest-2021-06-28-02-18-18-905', 'AWS_CONTAINER_CREDENTIALS_RELATIVE_URI': '/v2/credentials/2124ec4c-ba0d-4b70-8877-5ed2ff0cc8a4', 'CANONICAL_ENVROOT': '/opt/amazon', 'PYTHONUNBUFFERED': 'TRUE', 'NVIDIA_VISIBLE_DEVICES': 'void', 'LD_LIBRARY_PATH': '/opt/amazon/lib/python3.7/site-packages/cv2/../../../../lib:/usr/local/nvidia/lib64:/opt/amazon/lib', 'MXNET_KVSTORE_BIGARRAY_BOUND': '400000000', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'AWS_EXECUTION_ENV': 'AWS_ECS_EC2', 'PATH': '/opt/amazon/bin:/usr/local/nvidia/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/amazon/bin:/opt/amazon/bin', 'PWD': '/', 'LANG': 'en_US.utf8', 'AWS_REGION': 'us-east-2', 'SAGEMAKER_METRICS_DIRECTORY': '/opt/ml/output/metrics/sagemaker', 'HOME': '/root', 'SHLVL': '1', 'PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION': '2', 'OMP_NUM_THREADS': '2', 'DMLC_INTERFACE': 'eth0', 'ECS_CONTAINER_METADATA_URI': 'http://169.254.170.2/v3/625f3679-7356-4857-9765-b33f0c63e6f2', 'ECS_CONTAINER_METADATA_URI_V4': 'http://169.254.170.2/v4/625f3679-7356-4857-9765-b33f0c63e6f2', 'SAGEMAKER_HTTP_PORT': '8080', 'SAGEMAKER_DATA_PATH': '/opt/ml', 'KMP_DUPLICATE_LIB_OK': 'True', 'KMP_INIT_AT_FORK': 'FALSE', 'DMLC_ROLE': 'worker', 'DMLC_PS_ROOT_URI': '10.0.87.20', 'DMLC_PS_ROOT_PORT': '9000', 'DMLC_NUM_SERVER': '1', 'DMLC_NUM_WORKER': '1'}
Process 34 is a shell:scheduler.
Process 44 is a shell:server.
Process 1 is a worker.
[06/28/2021 02:22:11 INFO 139943321941824] Using default worker.
[06/28/2021 02:22:11 INFO 139943321941824] Loaded iterator creator application/x-recordio-protobuf for content type ('application/x-recordio-protobuf', '1.0')
[06/28/2021 02:22:11 INFO 139943321941824] Checkpoint loading and saving are disabled.
[06/28/2021 02:22:11 INFO 139943321941824] Verifying hyperparamemters...
[06/28/2021 02:22:11 INFO 139943321941824] Hyperparameters are correct.
[06/28/2021 02:22:11 INFO 139943321941824] Validating that feature_dim agrees with dimensions in training data...
[06/28/2021 02:22:11 INFO 139943321941824] feature_dim is correct.
[06/28/2021 02:22:11 INFO 139943321941824] Validating memory limits...
[06/28/2021 02:22:11 INFO 139943321941824] Available memory in bytes: 15190085632
[06/28/2021 02:22:11 INFO 139943321941824] Estimated sample size in bytes: 1680000
[06/28/2021 02:22:11 INFO 139943321941824] Estimated memory needed to build the forest in bytes: 4200000
[06/28/2021 02:22:11 INFO 139943321941824] Memory limits validated.
[06/28/2021 02:22:11 INFO 139943321941824] Starting cluster sharing facilities...
[06/28/2021 02:22:11 INFO 139943321941824] Create Store: dist_async
[06/28/2021 02:22:11 INFO 139941876909824] >>> starting FTP server on 0.0.0.0:8999, pid=1 <<<
[I 21-06-28 02:22:11] >>> starting FTP server on 0.0.0.0:8999, pid=1 <<<
[06/28/2021 02:22:11 INFO 139941876909824] poller: <class 'pyftpdlib.ioloop.Epoll'>
[I 21-06-28 02:22:11] poller: <class 'pyftpdlib.ioloop.Epoll'>
[I 21-06-28 02:22:11] masquerade (NAT) address: None
[06/28/2021 02:22:11 INFO 139941876909824] masquerade (NAT) address: None
[I 21-06-28 02:22:11] passive ports: None
[06/28/2021 02:22:11 INFO 139941876909824] passive ports: None
[I 21-06-28 02:22:11] use sendfile(2): True
[06/28/2021 02:22:11 INFO 139941876909824] use sendfile(2): True
[06/28/2021 02:22:13 INFO 139943321941824] Cluster sharing facilities started.
[06/28/2021 02:22:13 INFO 139943321941824] Verifying all workers are accessible...
[06/28/2021 02:22:13 INFO 139943321941824] All workers accessible.
[06/28/2021 02:22:13 INFO 139943321941824] Initializing Sampler...
[06/28/2021 02:22:13 INFO 139943321941824] Sampler correctly initialized.
#metrics {"StartTime": 1624846931.9056153, "EndTime": 1624846933.2101557, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training"}, "Metrics": {"initialize.time": {"sum": 1297.778606414795, "count": 1, "min": 1297.778606414795, "max": 1297.778606414795}}}

#metrics {"StartTime": 1624846933.2104058, "EndTime": 1624846933.2104664, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training", "Meta": "init_train_data_iter"}, "Metrics": {"Total Records Seen": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Total Batches Seen": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Max Records Seen Between Resets": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Max Batches Seen Between Resets": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Reset Count": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Number of Records Since Last Reset": {"sum": 0.0, "count": 1, "min": 0, "max": 0}, "Number of Batches Since Last Reset": {"sum": 0.0, "count": 1, "min": 0, "max": 0}}}

[2021-06-28 02:22:13.211] [tensorio] [info] epoch_stats={"data_pipeline": "/opt/ml/input/data/train", "epoch": 0, "duration": 1305, "num_examples": 1, "num_bytes": 196000}
[06/28/2021 02:22:13 INFO 139943321941824] Sampling training data...
[2021-06-28 02:22:13.335] [tensorio] [info] epoch_stats={"data_pipeline": "/opt/ml/input/data/train", "epoch": 1, "duration": 123, "num_examples": 85, "num_bytes": 16615312}
[06/28/2021 02:22:13 INFO 139943321941824] Sampling training data completed.
#metrics {"StartTime": 1624846933.2103367, "EndTime": 1624846933.3399122, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training"}, "Metrics": {"epochs": {"sum": 1.0, "count": 1, "min": 1, "max": 1}, "update.time": {"sum": 128.20148468017578, "count": 1, "min": 128.20148468017578, "max": 128.20148468017578}}}

[06/28/2021 02:22:13 INFO 139943321941824] Early stop condition met. Stopping training.
[06/28/2021 02:22:13 INFO 139943321941824] #progress_metric: host=algo-1, completed 100 % epochs
#metrics {"StartTime": 1624846933.2116683, "EndTime": 1624846933.340362, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training", "epoch": 0, "Meta": "training_data_iter"}, "Metrics": {"Total Records Seen": {"sum": 84772.0, "count": 1, "min": 84772, "max": 84772}, "Total Batches Seen": {"sum": 85.0, "count": 1, "min": 85, "max": 85}, "Max Records Seen Between Resets": {"sum": 84772.0, "count": 1, "min": 84772, "max": 84772}, "Max Batches Seen Between Resets": {"sum": 85.0, "count": 1, "min": 85, "max": 85}, "Reset Count": {"sum": 1.0, "count": 1, "min": 1, "max": 1}, "Number of Records Since Last Reset": {"sum": 84772.0, "count": 1, "min": 84772, "max": 84772}, "Number of Batches Since Last Reset": {"sum": 85.0, "count": 1, "min": 85, "max": 85}}}

[06/28/2021 02:22:13 INFO 139943321941824] #throughput_metric: host=algo-1, train throughput=657928.2130627305 records/second
[06/28/2021 02:22:13 INFO 139943321941824] Master node: building Random Cut Forest...
[06/28/2021 02:22:13 INFO 139943321941824] Gathering samples...
[06/28/2021 02:22:13 INFO 139943321941824] 5000 samples gathered
[06/28/2021 02:22:13 INFO 139943321941824] Building Random Cut Forest...
[06/28/2021 02:22:13 INFO 139943321941824] Random Cut Forest built:

ForestInfo{num_trees: 50, num_samples_in_forest: 5000, num_samples_per_tree: 100, sample_dim: 21, shingle_size: 1, trees_num_nodes: [197, 195, 197, 197, 191, 197, 197, 197, 193, 193, 195, 199, 191, 193, 191, 197, 197, 197, 195, 195, 197, 193, 197, 199, 197, 193, 189, 195, 193, 199, 197, 199, 193, 191, 197, 199, 195, 195, 197, 195, 199, 189, 193, 193, 197, 193, 195, 197, 199, 199, ], trees_depth: [20, 20, 15, 14, 14, 18, 13, 13, 17, 14, 14, 20, 14, 15, 16, 13, 17, 16, 15, 18, 14, 17, 19, 16, 18, 13, 18, 13, 15, 18, 15, 17, 16, 20, 13, 19, 15, 18, 18, 16, 14, 15, 12, 14, 17, 14, 15, 13, 17, 16, ], max_num_nodes: 199, min_num_nodes: 189, avg_num_nodes: 195, max_tree_depth: 20, min_tree_depth: 12, avg_tree_depth: 15, mem_size: 4142080}
#metrics {"StartTime": 1624846933.340043, "EndTime": 1624846933.3545988, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training"}, "Metrics": {"fit_model.time": {"sum": 9.41324234008789, "count": 1, "min": 9.41324234008789, "max": 9.41324234008789}, "model.bytes": {"sum": 4142080.0, "count": 1, "min": 4142080, "max": 4142080}, "finalize.time": {"sum": 13.863563537597656, "count": 1, "min": 13.863563537597656, "max": 13.863563537597656}}}

[06/28/2021 02:22:13 INFO 139943321941824] Master node: Serializing the RandomCutForest model
#metrics {"StartTime": 1624846933.354699, "EndTime": 1624846933.3932006, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training"}, "Metrics": {"serialize_model.time": {"sum": 38.42663764953613, "count": 1, "min": 38.42663764953613, "max": 38.42663764953613}}}

[06/28/2021 02:22:13 INFO 139943321941824] Test data is not provided.
#metrics {"StartTime": 1624846933.3932989, "EndTime": 1624846933.393438, "Dimensions": {"Algorithm": "RandomCutForest", "Host": "algo-1", "Operation": "training"}, "Metrics": {"setuptime": {"sum": 27.002811431884766, "count": 1, "min": 27.002811431884766, "max": 27.002811431884766}, "totaltime": {"sum": 1524.7018337249756, "count": 1, "min": 1524.7018337249756, "max": 1524.7018337249756}}}


2021-06-28 02:22:43 Completed - Training job completed
ProfilerReport-1624846698: NoIssuesFound
Training seconds: 96
Billable seconds: 96

In [34]:
# Hosting the Model

predictor = RCF.deploy(
    initial_instance_count=1,
    instance_type='ml.m4.xlarge', 
    endpoint_name="Random-Cut-Forest"
)

Defaulting to the only supported framework/algorithm version: 1. Ignoring framework/algorithm version: 1.

-------------!

In [36]:
from sagemaker.serializers import CSVSerializer
from sagemaker.deserializers import JSONDeserializer

predictor.serializer = CSVSerializer()
predictor.deserializer = JSONDeserializer()

In [38]:
# Testing the Model

results = predictor.predict(val_df_no_result.values)
scores_df = pd.DataFrame(results['scores'])
val_df = val_df.reset_index(drop=True)
results_df = pd.concat([val_df, scores_df], axis=1)
results_df['Error'].value_counts()

False    20791
True       402
Name: Error, dtype: int64

In [39]:
results_df

,Minutes,Fee,Total,Error,Matter Type_Antitrust,Matter Type_Asset recovery,Matter Type_Commercial arbitration,Matter Type_IPO,Matter Type_Insolvency,Matter Type_M&A,...,Matter Type_Tax planning,Resource_Junior,Resource_Paralegal,Resource_Partner,Resource_Senior,Activity_Attend Court,Activity_Attend Meeting,Activity_Phone Call,Activity_Prepare Opinion,score
0,100,50,83.33,False,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0.701596
1,20,80,26.67,False,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0.666033
2,120,70,140.00,False,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0.661593
3,25,180,75.00,False,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0.682108
4,25,600,250.00,False,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0.890886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21188,45,80,60.00,False,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0.670974
21189,105,450,787.50,False,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0.727313
21190,60,70,70.00,False,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0.689184
21191,110,50,91.67,False,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0.702229
21192,15,180,45.00,False,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0.783600

In [40]:
scores_df

          score
0      0.701596
1      0.666033
2      0.661593
3      0.682108
4      0.890886
...         ...
21188  0.670974
21189  0.727313
21190  0.689184
21191  0.702229
21192  0.783600

[21193 rows x 1 columns]

In [41]:
score_cutoff = results_df[results_df['Error'] == True]['score'].median()
print(f'Score cutoff: {score_cutoff}')
results_above_cutoff = results_df[results_df['score'] > score_cutoff]
results_above_cutoff['Error'].value_counts()

Score cutoff: 1.78126339745

True     201
False     74
Name: Error, dtype: int64

In [51]:
results_df['Prediction'] = results_df['score'] > score_cutoff
results_df.head()

,Minutes,Fee,Total,Error,Matter Type_Antitrust,Matter Type_Asset recovery,Matter Type_Commercial arbitration,Matter Type_IPO,Matter Type_Insolvency,Matter Type_M&A,...,Resource_Junior,Resource_Paralegal,Resource_Partner,Resource_Senior,Activity_Attend Court,Activity_Attend Meeting,Activity_Phone Call,Activity_Prepare Opinion,score,Prediction
0,100,50,83.33,False,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0.701596,False
1,20,80,26.67,False,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0.666033,False
2,120,70,140.00,False,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0.661593,False
3,25,180,75.00,False,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0.682108,False
4,25,600,250.00,False,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0.890886,False

In [54]:
results_df[results_df['score'] > score_cutoff]

,Minutes,Fee,Total,Error,Matter Type_Antitrust,Matter Type_Asset recovery,Matter Type_Commercial arbitration,Matter Type_IPO,Matter Type_Insolvency,Matter Type_M&A,...,Resource_Junior,Resource_Paralegal,Resource_Partner,Resource_Senior,Activity_Attend Court,Activity_Attend Meeting,Activity_Phone Call,Activity_Prepare Opinion,score,Prediction
103,495,250,2062.50,True,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,2.444236,True
177,535,250,2229.17,True,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,2.590069,True
179,285,400,1900.00,True,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,2.041744,True
186,520,80,693.33,True,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1.835965,True
304,510,80,680.00,True,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1.813424,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20973,150,800,2000.00,False,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,2.150048,True
20994,135,800,1800.00,False,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1.862283,True
21078,135,800,1800.00,False,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1.862462,True
21158,495,600,4950.00,True,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,3.920501,True
21163,510,100,850.00,True,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,1.801119,True

# Clean Up

In [47]:
sess.delete_endpoint(predictor.endpoint_name)